/* HEADER STYLE */
header {
  position: fixed;
  top: 0px;
  background: #fff;
  width: 100%;
  z-index: 1000;
  height: 3rem;
}

.nav_bar {
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.75);
}

.nav_bar>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.site_branding a, .site_branding img {
  height: 100%;
}

nav ul {
  display: flex;
  margin: 0;
  background-color: var(--s-bgcolor);
}

.main-navigation ul ul {
  /* margin-top: 20px; */
  padding-top: 14px;
  background: #fff;
  text-align: left;
  box-shadow: none;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  color: #ffffff;
  text-decoration: none;
  outline: 0;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

nav .sub-menu a {
  font-size: 14px !important;
}

.site-branding {
  width: 220px;
  padding: 8px 0;
  /* height: 100%; */
}

#masthead .menu-item a {
  color: #282561 !important;
  font-weight: 600;
  font-size: 20px;
}

.main-navigation {
  width: fit-content !important;
}

/* .wpcf7-form-control {
  color: #000000 !important;
} */
#masthead .menu-item a {
  color: #7a1958;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0 !important;
  overflow-x: hidden;
}

a.anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

/* .Homepage_banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
.section {
  padding: 60px 0px;
}

.home_hero_cta {}

.home_hero_icon {
  background: #F7CC7F;
}

.provide_box {
  padding: 30px 20px;
}

div#carouselExampleSlidesOnly {
  padding: 50px;
}

.inner_page_banner {
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 70px;
}

.experience {
  background: #232220;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.experience_heading {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
}

.experience_sub_heading {
  font-size: 20px;
  color: #F25F5C;
}

section.section.maintainance_section {
  background: #080808;
}

.provide_box h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding-top: 7px;
  height: 30px;
}

.provide_box span i {
  color: #F25F5C;
  font-size: 27px;
}

.provide_box span {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border: 2px solid #797979;
  border-radius: 50%;
  text-align: center;
  padding-top: 14px;
  color: black;
}

.experience_box {
  display: flex;
  padding: 20px;
}

.experience_box i {
  font-size: 20px;
  color: #F25F5C;
  padding-right: 20px;
}

.experience_box h5 {
  font-size: 18px;
  color: #fff;
  padding-bottom: 20px;
}

.experience_box_wrapper {
  padding-top: 60px;
}

.experience_cnt span.ajax-loader {
  display: none !important;
}

.experience_cnt {
  padding: 45px;
  background: #F25F5C;
}

.experience_cnt h5 {
  color: #fff;
  font-size: 24px;
  margin-left: -5px;
  font-weight: 700;
}

.experience_cnt input {
  width: 88%;
  border: none;
  padding: 10px;
  margin: 12px 10px;
  border-radius: 0;
}

.form-button_wrapper {
  text-align: right;
}

.experience_cnt span.wpcf7-form-control-wrap.your-email {
  width: 50%;
}

.experience_cnt span.wpcf7-form-control-wrap.your-name {
  width: 50%;
}

.experience_cnt textarea.wpcf7-form-control.wpcf7-textarea {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 10px;
  height: 100px;
  margin-left: -4px;
  margin-top: 12px;
}

.experience_cnt input.wpcf7-form-control.wpcf7-submit {
  width: 110px;
  background: transparent;
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
  padding: 12px !important;
  border-radius: 20px;
  border: 1px solid;
  margin-top: 13px;
}

.about {
  background-color: #e7ebee;
}

/* #about .section-heading {
    color: #fff;
} */
.about_icon {
  text-align: right;
}

.about_icon i {
  font-size: 126px;
  color: #fff;
}

.about_content {
  padding-top: 21px;
}

.about_content p {
  color: #696982;
  transform: skewX(-10deg);
  font-family: "Arial", Sans-serif;
  font-style: italic;
}

/* .about_us_content {
    color: #fff;
    text-align: justify;
    padding-bottom: 30px;
} */
.page_title {
  padding-top: 120px;
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
}

/* front page */
.main_content {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 10;
}

.main_section {
  overflow: hidden;
  background-color: #1c1a17;
  position: relative;
  /* width: 100vw !important; */
  height: 100vh !important;
  z-index: 1;
  color: #fff;
  background: url(asset/img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.main_content {
  position: relative;
  z-index: 1;
  margin-top: 90px;
}

.main_content_subsection {
  margin-bottom: 30px;
}

.subsection_item {
  padding: 8px 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  letter-spacing: .58px;
  line-height: 24px;
  color: #d5d5ea;
}

.main_heading {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 45px;
  text-transform: uppercase;
  color: #fff;
}

.main_heading_content {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.main_btn, .contact_box .wpcf7-form input[type="submit"] {
  position: relative;
  z-index: 1;
  min-width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0px;
  /* background-image: linear-gradient(to right, #846FF4 0%, #F17674 51%, #846FF4 100%); */
  background: #F25F5C;
  /* border: 1px solid#fff; */
}

.core_services .col-12.col-sm-6.col-lg-3 {
  padding-bottom: 20px !important;
}

.main_btn:focus, .contact_box .wpcf7-form input[type="submit"]:focus, .main_btn:visited, .contact_box .wpcf7-form input[type="submit"]:visited {
  color: #fff;
}

.btn_spacing {
  margin-right: 10px
}

.section-heading {
  font-size: 24px;
  position: relative;
  font-weight: 600;
  padding-bottom: 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section-heading::before {
  content: '';
  width: 50px;
  left: 0;
  height: 9px;
  background: #F25F5C;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  border-radius: 0px 16px;
}

.section-heading::after {
  content: '';
  height: 1px;
  background: #ccc;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 30%;
}

.single_service_box {
  border-radius: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .11);
  border: none;
  padding: 40px 20px;
  margin-bottom: 30px !important;
  position: relative;
  z-index: 1;
  transition: all .3s ease-in-out;
  text-align: center;
}

.single_service_box h6 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #222;
}

.single_service_box p, .features_description, .core_service_content {
  color: #888;
}

.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.section-heading>p {
  line-height: 2;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.subsection_item::before {
  background-image: linear-gradient(to bottom right, #766ee6 0, #3540b0);
}

.contact_form_wrapper {
  position: relative;
  z-index: 1;
  /* margin-bottom: 30px; */
  margin-bottom: 43px;
}

/* news section home page start*/
.news-post {
  float: left;
  width: 100%;
  background: #fff;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px #DFDFDF;
  -moz-box-shadow: 0px 0px 20px #DFDFDF;
  -ms-box-shadow: 0px 0px 20px #DFDFDF;
  -o-box-shadow: 0px 0px 20px #DFDFDF;
  box-shadow: 0px 0px 20px #DFDFDF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news-post img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news-post:hover img, .news-post:focus img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.news-post .news-post-image {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.news-post .news-post-image .news-overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.news-post .news-post-image .news-category {
  margin: 20px 0 0 15px;
  float: left;
  z-index: 2;
  position: absolute;
}

.news-post .news-post-image .news-category>a {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #bd176b;
  margin: 0 4px 4px 0;
  background: #bd176b;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.news-post .news-post-image .news-category>a:hover {
  background: transparent;
  border: 1px solid #fff;
}

.news-post .news-post-image .news-category>a:hover,
.news-post .news-post-image .news-category>a:active,
.news-post .news-post-image .news-category>a:focus {
  text-decoration: none;
}

.news-post .news-post-text {
  padding: 20px;
}

.news-post .news-post-text h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500;
}

.news-post .news-post-text h3 a {
  color: #222;
}

.news-post .news-post-text h3 a:hover {
  color: #ee741a;
}

.news-post .news-post-text h3 a:hover, .news-post .news-post-text h3 a:active, .news-post .news-post-text h3 a:focus {
  text-decoration: none;
}

.news-post .news-post-text p {
  font-size: 14px;
  margin-bottom: 0;
  color: #a6a6a6;
}

.news-post .news-post-text p:last-child {
  margin-bottom: 0 !important;
}

/* news section home page ends */
.contact_box .wpcf7-form input[type="text"], .contact_box .wpcf7-form input[type="email"], .contact_box .wpcf7-form .wpcf7-textarea, .contact_box .wpcf7-form input[type="tel"] {
  color: #222 !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
  font-size: 12px;
  font-style: italic;
  padding: 10px;
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  background-color: transparent;
}

.contact_form_wrapper .contact_span {
  position: relative;
  display: block;
  width: 100%;
}

.contact_form_wrapper .contact_span::before, .contact_form_wrapper .contact_span::after {
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background-color: #fff;
}

.contact_form_wrapper .contact_span::before {
  left: 50%;
}

.contact_form_wrapper .contact_span::after {
  right: 50%;
}

.contact_box .wpcf7-form input[type="text"]:focus~label, .contact_box .wpcf7-form input[type="email"]:focus~label, .contact_box .wpcf7-form .wpcf7-textarea:focus~label {
  top: -17px;
  font-size: 12px;
}

.contact_form_wrapper input:focus label, .contact_form_wrapper textarea:focus label, .contact_form_wrapper input:valid label, .contact_form_wrapper textarea:valid label {
  top: -17px;
  font-size: 12px;
}

.contact_content {
  padding-top: 100px;
  padding-bottom: 80px;
}

.contact_form_wrapper .wpcf7-form-control-wrap:focus-within~label {
  top: -17px;
  font-size: 12px;
  /* background: blue; */
}

.contact_box .wpcf7-form input[type="text"]:focus, .contact_box .wpcf7-form input[type="email"]:focus, .contact_box .wpcf7-form .wpcf7-textarea:focus, .contact_box .wpcf7-form input[type="tel"]:focus {
  border-bottom: 3px solid #222 !important;
}

.contact_form_wrapper label {
  top: 40px;
  font-style: italic;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  margin-bottom: 0;
}

.contact_form_wrapper .wpcf7-form-control::placeholder {
  color: #000;
  font-style: italic;
  font-size: 14px;
}

.contact_form_wrapper input:focus::placeholder, .contact_form_wrapper textarea:focus::placeholder {
  color: #000;
  font-weight: 600;
}

.contact_box .wpcf7-form .wpcf7-textarea {
  height: 130px;
}

input:focus, textarea:focus {
  outline: none !important;
}

/* core service section */
.core_services_wrapper {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px !important;
  text-align: center;
  height: 100%;
  background: url(asset/img/cards-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.core_services_item_icon {
  margin-bottom: 25px;
  display: inline-block;
  max-width: 50px;
}

.core_services_item_icon img {
  filter: contrast(0.5);
}

.core_services.owl-dots {
  display: none;
}

.heading {
  padding-top: 58px;
  padding-bottom: 20px;
  font-size: 24px !important;
}

.owl-carousel .owl-item img {
  filter: grayscale(100%);
  padding: 10px;
}

.owl-carousel .owl-item:hover img {
  filter: grayscale(0);
}

.core_services_wrapper h6 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #222;
}

.core_services p {
  color: #888;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 5px;
}

/* --------------------------end front page styling------------------ */
/* footer styling */
.footer_wrapper {
  padding: 80px 50px 0 50px;
  background: #232220 !important;
}

.footer_logo {
  margin-bottom: 15px;
}

.footer_logo img {
  width: 100%;
}

.footer_logo_wrapper p {
  margin-bottom: 10px;
  color: #fff;
  font-size: 15px;
}

.footer_social a i {
  font-size: 15px;
  color: #fff;
  margin-right: 15px;
}

.footer_social a i:hover {
  color: #4a7aec;
}

.footer_logo a {
  color: #fff;
  font-size: 24px;
}

.navigate_box h5, .footer_contact_box h5 {
  font-size: 16px;
  color: #fff;
}

.navigate_box a p, .footer_contact_box p, .menu-footer-container ul li a {
  font-size: 15px;
  color: #888;
  margin-bottom: 0;
}

.navigate_box a:hover p, .menu-footer-container ul li a:hover {
  color: #fff;
}

a:visited, a:active, a:hover, a:focus {
  text-decoration: none;
}

.menu-footer-container #footer {
  padding-left: 0;
  margin-left: 0;
}

.menu-footer-container ul li {
  list-style: none;
}

.footer_wrapper .site-info {
  text-align: center;
  padding: 30px 0 10px 0;
}

.footer_wrapper .site-info a {
  color: #fff;
  font-size: 12px;
}

.site-footer .wpcf7-form input[type="text"], .site-footer .wpcf7-form input[type="email"], .site-footer .wpcf7-form input[type="tel"], .site-footer .wpcf7-form textarea {
  background-color: #fff;
  color: #fff;
  padding: 5px 11px;
  margin-bottom: 16px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
}

.site-footer .wpcf7-form textarea {
  height: 80px;
}

.site-footer .wpcf7-form input[type="text"]:focus, .site-footer .wpcf7-form input[type="email"]:focus, .site-footer .wpcf7-form input[type="tel"]:focus, .site-footer .wpcf7-form textarea:focus {
  background: #fff;
}

.site-footer .wpcf7-form input::placeholder, .site-footer .wpcf7-form textarea::placeholder {
  font-size: 14px;
}

.site-footer .wpcf7-form .wpcf7-submit {
  width: 100%;
  background: #ef3319;
  color: #fff !important;
  border: 0;
  height: 35px;
}

.footer_image {
  text-align: center;
  margin-bottom: 25px;
}

.footer_image img {
  width: 125px;
  margin: 0 auto;
}

.footer_contact_wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: -15px;
  margin-right: -15px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

/* ----------------------end footer styling-------------- */
/*---------------------------------------header styling-----------  */
/*---------------------------------------end header styling-----------  */
/* -------------------------------- single services styling ---------------- */
.single_post_navigation {
  margin-top: 50px;
}

.single_post_navigation .nav-previous a, .single_post_navigation .nav-next a {
  font-size: 16px;
  color: #000;
  padding: 10px;
  background: #192057;
  color: #fff;
}

/*-----------------------------------single training page---------------------  */
.single_post_content {
  padding: 20px 0 0 10px;
}

#myTab {
  margin-left: 0;
}

#myTabContent {
  margin-bottom: 30px;
}

.summary-content {
  text-align: justify;
  margin-bottom: 25px;
  padding-top: 10px;
  font-size: 15px;
}

.summary-title {
  padding: 30px 0 0 0;
}

.card-body p {
  text-align: justify;
}

.single_post_img {}

.training_item {
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .11);
}

.training_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  color: #222;
}

.training_name {
  margin-top: 15px;
}

.training_item img {
  width: 80%;
}

.nav-tabs {
  border-bottom: unset;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #ef3319;
  border-color: unset;
}

.nav-item a {
  color: #000;
}

#accordion .card {
  background-color: #7a1958;
  margin-bottom: 4px;
  border: 1px solid #ebebeb;
}

.card-header {
  padding: 5px !important;
}

#accordion .card-header button {
  color: #fff;
  transition: unset;
  border: 0;
}

#accordion button:hover {
  text-decoration: none;
}

.card-body {
  background: #fff;
}

.single_training {
  background: url(asset/img/vani.jpg);
}

/*-----------------------------------end single training page ---------------------  */
/* ------------------------------about page--------------------- */
.about_section_title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.who_we_are_content, .our_vision_content, .our_mission_content {
  text-align: justify;
}

.team_wrapper {
  transition: box-shadow 1s;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.team_wrapper:hover {
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.36);
}

.team_item_content {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.team_name {
  text-transform: uppercase;
}

.team_designation {
  font-size: 14px;
  padding: 5px 0 5px 0;
}

.team_link:visited, .team_link, .team_link:hover, .team_link:focus {
  color: #000;
  text-decoration: none;
}

/* ------------------------------SERVICE PAGE--------------------- */
.Services_item-image {
  text-align: center;
  padding: 0px 60px 20px 60px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

/*------------------------------  SERVICE PAGE------------------------- */
/* ------------------------------end about page--------------------- */
/* -----------------------------contact  page styling-------------------------------- */
.map_wrapper {
  overflow: hidden;
}

.address_heading {
  font-weight: bold;
  margin-bottom: 0;
  color: #514e4e;
  padding-left: 27px;
}

.address_content {
  color: #888;
}

.address_content:visited, .address_content, .address_content:hover, .address_content:focus {
  color: #888;
  text-decoration: none;
}

.map_wrapper iframe {
  width: 300px;
  height: 200px;
}

.contact_address {
  font-weight: 500;
  margin-bottom: 0;
}

/* .address_cards:hover{
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
      opacity: 1;
    } */
.branch_email, .branch_phone {
  position: relative;
}

.branch_email img, .branch_phone img {
  position: absolute;
  top: 5px;
  left: -19px;
  padding-left: 21px;
}

.address_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: black;
}

.address_card_left {
  padding: 90px 10px 0px 10px;
}

.address_card_right {
  background: white;
  padding: 10px 10px 80px 10px;
}

.address_card_right {
  background: white;
  padding: 45px 30px 45px 30px;
}

/* -----------------------------end contact  page styling-------------------------------- */
/*-----------------------------------------career page styling------------------------------  */
.job_container {
  width: 100%;
  min-width: 184px;
  height: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job_wrapper {
  width: 80%;
  padding-bottom: 110%;
  border-radius: 5%;
  background-color: #fff;
  position: relative;
  box-shadow: 0.2em 1em 1.5em -0.5em rgba(0, 0, 0, 0.5);
}

.job_header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5% 5% 0 0;
  background-color: #6a7388;
  clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 35%);
}

.job_report {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
}

.job_header {
  width: 100%;
  height: 25%;
  display: flex;
}

.job_details {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.job_name {
  font-size: 20px;
  color: #fff;
  padding-bottom: 0.2em;
  text-transform: uppercase;
}

.job_info {
  font-size: 1.5rem;
  color: #e3cfdf;
  padding-bottom: 0.3em;
}

.job_body {
  width: 100%;
  height: 75%;
  padding-top: 20%;
  position: relative;
}

.job_btn {
  padding: 10px 10px;
  font-size: 14px;
  background: #6a7388;
  position: absolute;
  top: 74%;
  left: 16%;
  font-size: 17px;
  border-radius: unset;
  box-shadow: 0em 1.2em 1.2em -0.5em rgba(0, 0, 0, 0.5);
  color: #fff !important;
}

.job_description, .job_location, .job_experience {
  font-weight: 500;
  padding-bottom: 5px;
}

/*-----------------------end career page styling---------------------------------------  */
/* -----------we specialise in--------------- */
.we_specialise_in_item {
  transition: box-shadow 1s;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 350px;
}

.we_specialise_in_item:hover {
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.36);
}

.we_specialise_content h6 {
  color: #F25F5C;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 20px 0px 20px;
}

.page-id-798 a {
  color: #FFEB3B;
}

.we_specialise_content {
  position: absolute;
  bottom: 0 !important;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 105px;
}

.we_specialise_content p {
  text-align: left;
  padding-left: 20px;
  color: #c5c5c5;
  font-weight: 500;
  font-size: 14px !important;
}

/* ----------we specialise in end ------------- */
/* --------provide--------- */
.provide_box_wrapper {
  padding-top: 50px;
}

.provide_box {
  padding: 10px 15px;
}

.provide_box img {
  width: 40px;
  padding: 2px;
  filter: invert(1);
}

/* -------------------------single job page--------------------------------------------------- */
.job_resume {
  color: #888;
  font-style: italic;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 30px;
}

.contact_box .wpcf7-form input[type="file"] {
  padding: 10px 10px;
  font-size: 17px;
  /* border-radius: unset;
  border: 2px solid rgba(0, 0, 0, 0.2); */
}

.apply_btn {
  /* margin-top: 31px; */
  /* margin-bottom: 15px; */
}

.apply_btn input[type="submit"] {
  /* background: #6a7388 !important;
  font-size: 17px !important;
  border-radius: unset !important;
  color:#fff !important; */
}

/* --------------------------end single job page------------------------------------------------*/
/*------------------------------TESTIMONIAL------------------------- */
.testimonial_white_heading {
  color: #ffffff !important;
}

.testimonial {
  min-height: 375px;
  position: relative;
  background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  position: relative;
  text-align: center;
}

.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}

.testimonial4_slide p {
  color: #ffffff;
  line-height: 1.4;
  font-weight: 200;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}

.testimonial4_slide h4 {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.testimonial4_slide h5 {
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
}

.testimonial .carousel {
  padding-bottom: 50px;
}

.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}

/*------------------------------TESTIMONIAL END------------------------- */
/*--------------------------------------------- model----------------------- */
.modal-dialog {
  margin-top: 176px;
}

.modal-content {
  padding: 20px;
}

.model_title {
  text-transform: uppercase;
  padding-bottom: 15px
}

.carousel-item {
  height: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-inner {
  height: 100%;
}

#carouselExampleIndicators {
  height: 100%;
}

.carousel-caption {
  bottom: 40% !important;
  text-align: left !important;
}

.display-4 h2 {
  font-size: 40px !important;
  font-weight: 700 !important;
}

span.cta_phone_number {
  position: absolute;
  right: 48px;
  font-size: 16px;
  color: #ffffff;
  background: #217ad3;
  height: 55px;
  top: 0px;
  padding: 15px;
  border-radius: 30px 0px 0px 30px;
  display: none;
}

.dialer_button_call:hover span.cta_phone_number {
  display: block;
}

.dialer_button {
  position: fixed;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.dialer_button_email {
  width: 55px;
  height: 55px;
  background-color: #000;
  text-align: center;
  font-size: 27px;
  box-shadow: 1px 1px 3px #7B7B7B;
  z-index: 100;
  color: #fff !important;
  padding: 8px 0;
}

.dialer_button .dialer_button_whatsapp {
  width: 55px;
  height: 55px;
  background-color: #25d366;
  color: #FFF !important;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 3px #7B7B7B;
  z-index: 100;
  border-bottom-left-radius: 10px;
}

.dialer_button .dialer_button_whatsapp i {
  margin-top: 13px;
}

#scrolltopBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(242, 95, 92, 0.86);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  width: 55px;
  height: 55px;
}

#scrolltopBtn:hover {
  background-color: #555;
}

.dialer_button .dialer_button_call {
  z-index: 99;
  font-size: 21px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 12px;
  width: 55px;
  height: 55px;
  text-align: center;
  background: rgb(33, 122, 211);
  border-top-left-radius: 10px;
}

/*-------------------------------model end-----------------------------------------------  */
/*------------------------------  mobile responsive------------------------- */
@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    padding: 0px 0 15px;
  }

  nav ul {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    margin-top: 4px !important;
    text-align: center;
  }

  nav ul li {
    float: none !important;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }

  .main-navigation ul {
    text-align: left;
  }

  .main-navigation ul ul {
    text-align: left;
  }

  .main-navigation ul ul a {
    width: unset;
  }

  .menu-toggle, .main-navigation.toggled ul {
    display: block !important;
  }

  .menu-item-has-children.toggled ul.sub-menu {
    display: block !important;
  }

  .menu-item-has-children ul.sub-menu {
    display: none !important;
  }

  .main-navigation ul {
    display: none !important;
  }

  .nav_bar>div {
    display: block;
    position: relative;
  }

  .menu-main_menu-container .nav-menu {
    height: 80vh;
  }

  .main-navigation .menu-toggle {
    position: absolute;
    right: 10px;
    top: 5px;
    background: #fff;
    color: #192057;
    outline: 0;
    border: 0;
  }

  .main-navigation .menu-toggle i {
    font-size: 38px;
  }

  #masthead .menu-item a {
    color: #7a1958;
    font-weight: 600;
    font-size: 16px;
    padding-top: 20px;
  }

  /* ======================== */
  .we_specialise_in_item_img img {
    height: 350px !important;
  }

  .experience_cnt {
    padding: 20px;
  }

  .carousel-caption {
    bottom: 21% !important;
    text-align: left !important;
    padding: 50px 30px;
    position: initial;
  }

  .Homepage_banner {
    background-color: #000;
  }

  .Homepage_banner .carousel-control-prev, .Homepage_banner .carousel-control-next {
    display: none !important;
  }

  .main_heading {
    font-size: 35px;
  }

  .main_heading_content {
    font-size: 17px;
  }

  span.cta_phone_number {
    display: none;
  }

  .dialer_button_call {
    bottom: 10px !important;
    right: 5px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  .dialer_button {
    right: 0;
    top: 91%;
    flex-direction: row;
    width: 100%;
  }

  .dialer_button a {
    width: 33.3% !important;
  }

  .dialer_button .dialer_button_whatsapp {
    border-bottom-left-radius: 0px !important;
  }

  #scrolltopBtn {
    bottom: 14% !important;
    right: 10px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0 !important;
  }

  .experience_cnt h5 {
    text-align: center;
  }

  .experience_cnt span.wpcf7-form-control-wrap.your-name {
    width: 100%;
  }

  .experience_cnt span.wpcf7-form-control-wrap.your-email {
    width: 100%;
  }

  .form-button_wrapper {
    text-align: center;
  }

  #about .section-heading {
    padding-top: 20px;
  }

  .section-heading {
    font-size: 20px;
    color: #333;
    position: relative;
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .main_section {
    background-position: 0 100%;
  }

  .site-header .row {
    height: unset;
  }

  .contact_area {
    padding: 22px 50px 54px 50px;
  }

  .address_card_left {
    padding: 45px 45px 45px 45px;
  }

  .inner_page_banner {
    margin-top: 70px;
  }

  .contact_section {
    padding: 25px;
  }

  .owl-carousel .owl-item img {
    filter: none;
  }

  .footer_wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .footer_contact_wrapper {
    padding-top: 30px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer_image {
    margin-top: 30px;
  }

  .section {
    padding-left: 0;
    padding-right: 0;
  }

  /* --------------about us ---------------- */
  .about_icon {
    display: none;
  }

  .about_content p {
    transform: skewX(0deg);
  }

  /* --------------about us end---------------- */
  .footer_contact_box {
    padding: 10px;
  }
}

/* ==================== responsive ends=====================*/
